body {
	margin: 0;
	font-family: helvetica, arial, sans-serif;
	background-image: url(../assets/images/sprinkles.png);
}

.awning {
	width:100%;
	height:190px;
	background:url(../assets/images/awning.png) repeat-x ;
	position:fixed;
	top:0;
	left:0;
	z-index:998;
}

.wrapper{
	max-width:1200px;
	margin:0 auto;
	background-color:pink;
	margin-bottom:100px;
}

.footer{
	width:100%;
	height:75px;
	background:url(../assets/images/footer.jpg) repeat-x ;
	background-size: cover;
	position:fixed;
	bottom:0;
	left:0;
}

/*HEADERS*/

.header-home {
	background:url(../assets/images/homeicecream.jpg) repeat;
	border-bottom: 10px solid #fff;
	margin-top:135px;
	height:380px;
}

.header-forked {
	background:url(../assets/images/homeicecream.jpg) repeat;
	border-bottom: 10px solid #fff;
	margin-top:135px;
	height:380px;
}


/*end headers*/

.logo {
	float:left;
	padding-top: 60px;
	padding-left: 40px;
}

.flex {
	display:flex; 
}

.space-between {
	justify-content: space-between;
}

.main-nav {
background-color:#a052ab;
}

.nav a{
	color:inherit;
	text-decoration: none;
}
.nav a:hover {
	color: #a052ab;
}

#nav {
	position:relative;

}

#nav_wrapper {
	background-color:#a052ab;
    margin: 0 auto;
    text-align: left;
    float:right;
    width:406px;
    height:48px;
    margin-top:332px;
}


#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

#nav ul li {
    display: inline-block;
}
#nav ul li:hover {
    background-color: #e6b2ed;
}
#nav ul li a, visited {
    color: #000;
    display: block;
    padding: 15px;
    text-decoration: none;
}
#nav ul li:hover ul {
    display: block;
}
#nav ul ul {
    display: none;
    position: absolute;
    background-color: #e6b2ed;
    border: 2.5px solid #d68fe0;
    border-top: 0;
    margin-left: -5px;
}
#nav ul ul li {
    display: block;
}
#nav ul ul li a:hover {
    color: #37373c;
}
#nav{
	display: flex;
	justify-content: space-between;
}
.container{
	box-sizing: border-box;
	margin: 0 auto;
	width: 800px;
}
.columns{ /**these are the boxes in the light pink box**/
	background-color: #eac4f0;
	padding:55px;
	min-height:200px;
	text-align: center;
	color: #fff;
	vertical-align: center;
}

.clear {
	clear:both;
}

.text{
	background-color:#a052ab;
	padding:20px;
	border-top:10px white solid;
	color: #fff;
	font-family: Helvetica;
}

#columns {
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 2;
	column-gap: 15px;
	column-fill: auto;
}

#columns p {
	display: inline-block;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
}

.box{
	background-color:#a052ab;
	padding:20px;
	margin: 10px;
	width:300px;
	height:150px;
	float:left;
}


footer{
	position: fixed;
	width:100%;
	bottom:0;
}


.wrap{
  width: 20%;
  position:fixed;
  top: 20px;
  right: 20px;
  transform: translate(-50%, -50%);
  z-index:999;
}

.search {
  width: 100%;

  top:10px;
  right:10px;
}

.searchTerm {
  float: right;
  width: 100%;
  border: 3px solid #a052ab;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #purple;
}

.searchTerm:focus{
  color: #purple;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #fff;
  background: #a052ab;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}



.search{
         padding:8px 15px;
         background:rgba(50, 50, 50, 0.2);
         border:0px solid #dbdbdb;
}
.button{
         position:relative;
         padding:6px 15px;
         left:-8px;
         border:2px solid #207cca;
         background-color:#207cca;
         color:#fafafa;
}
.button:hover{
         background-color:#fafafa;
         color:purple;
}

}