body {
	margin: 0;
  font-family: Helvetica, sans-serif;
	background-image: url(../assets/images/sprinkles.png);
}

.flex{
  display: flex;
}

.awning {
	width:100%;
	height:190px;
	background:url(../assets/images/awning.png) repeat-x ;
	position:fixed;
	top:0;
	left:0;
	z-index:2015;
}

.space-between{
	justify-content:space-between;
}


.wrapper{
	width:100%;
	margin:0 auto;
	background-color:none;
	margin-bottom:100px;

}

.footer{
	width:100%;
	height:75px;
	background:url(../assets/images/footer.jpg) repeat-x ;
	background-size: cover;
	position:fixed;
	bottom:0;
	left:0;
	z-index: 3000;
}

.container-contact{
  float:right;
}

.logo img{
    margin-left: 40px;
    margin-top: 50px;
}

#cones{
  display: none;
}

.submit img{
  position: absolute;
  margin-left: 620px;
  width:75px;
  height:40px;

}
/*HEADERS*/

.header-home {
	background:url(../assets/images/homeicecream.png) no-repeat center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: absolute;
  border-bottom: 10px solid #fff;
  margin-top:135px;
  height:380px;
}

.header-locations {
	background:url(../assets/images/locpic.png) no-repeat center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: absolute;
  border-bottom: 10px solid #fff;
  margin-top:135px;
  height:380px;
}
.header-gallery {
  background:url(../assets/images/gallerybanner.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: absolute;
  border-bottom: 10px solid #fff;
  margin-top:135px;
  height:380px;
}

.header-location {
  background:url(../assets/images/location.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: absolute;
  border-bottom: 10px solid #fff;
  margin-top:135px;
  height:380px;
}

.header-order {
  background:url(../assets/images/ordering.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: absolute;
  border-bottom: 10px solid #fff;
  margin-top:135px;
  height:380px;
}

.header-flavor {
  background:url(../assets/images/ordering.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: absolute;
  border-bottom: 10px solid #fff;
  margin-top:135px;
  height:380px;
}

.header-contact {
  background:url(../assets/images/contact.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: absolute;
  border-bottom: 10px solid #fff;
  margin-top:135px;
  height:380px;
}

.header-month {
  background:url(../assets/images/month1.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: absolute;
  border-bottom: 10px solid #fff;
  margin-top:135px;
  height:380px;
}

.header-social {
  background:url(../assets/images/social.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: absolute;
  border-bottom: 10px solid #fff;
  margin-top:135px;
  height:380px;
}

.header-virtual {
  background:url(../assets/images/virtual1.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: absolute;
  border-bottom: 10px solid #fff;
  margin-top:135px;
  height:380px;
}

.header-special {
  background:url(../assets/images/specialties.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: absolute;
  border-bottom: 10px solid #fff;
  margin-top:135px;
  height:380px;
}

.social-media {
  text-align:center;
  margin-bottom: 100px;
}

.social-media-virtual {
  text-align:center;
  margin-bottom: 100px;
  margin-top: 1000px;
  z-index: 500px;
}

.facebook {
  background: url("../assets/images/facebook55.png") no-repeat center;
  background-size: 40px;
  background-color: #cccccc;
  padding: 10px;
  border-radius:50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0 10px;
  transition: 0.3s;
}

.facebook:hover {
  background-color: #a052ab;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.twitter {
  background: url("../assets/images/twitter1.png") no-repeat center;
  background-size: 40px;
  background-color: #cccccc;
  padding: 10px;
  border-radius:50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0 10px;
  transition: 0.6s;
}

.twitter:hover {
  background-color: #a052ab;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.instagram {
  background: url("../assets/images/instagram12.png") no-repeat center;
  background-size: 40px;
  background-color: #cccccc;
  padding: 10px;
  border-radius:50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0 10px;
  transition: 0.3s;
}

.instagram:hover {
  background-color: #a052ab;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.foursquare {
  background: url("../assets/images/foursquare5.png") no-repeat center;
  background-size: 40px;
  background-color: #cccccc;
  padding: 10px;
  border-radius:50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0 10px;
  transition: 0.3s;
}

.foursquare:hover {
  background-color: #a052ab;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}







/*end headers*/
}

/*CAKE TESTING AGAIN*/

html, body { width: 100%; height: 100%; background: #ECF3F3 }

form
{
  display: block;
  margin: 100px auto;
  width: 950px;
  overflow: hidden;
  background: #FFF;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  font-size: 0;
}

form > div
{
  display: inline-block;
  width: 100%;
}

form > div > label
{
  display: block;
  padding: 20px 20px 10px;
  vertical-align: top;
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #939393;
  cursor: pointer;
}

form > div.col-2, form > div.col-3, form > div.col-4 { box-shadow: 1px 1px #E4E4E4 }

form > div.col-2 { width: 50% }
form > div.col-3 { width: 33.3333333333% }
form > div.col-4 { width: 25% }

form > div > label > input
{
  display: inline-block;
  position: relative;
  width: 100%;
  height: 27px;
  line-height: 27px;
  margin: 5px -5px 0;
  padding: 7px 5px 3px;
  border: none;
  outline: none;
  border-radius: 3px;
  background: transparent;
  font-size: 14px;
  font-weight: 200;
  opacity: .66;
  transition: opacity .3s, box-shadow .3s;
}

form > div > label > select
{
  display: block;
  width: 100%;
  margin: 16px 0 6px;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 200;
  opacity: .33;
}

form > div > label > input:focus, form > div > label > select:focus
{
  opacity: 1;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .15);
}

/*END CAKE TESTING*/

/*Virtual Create Buttons*/


}
.h4{
  text-align: center;
}



.cake-sizes{
  width:200px;
  height:200px;
  position:relative;
  left: 900px;
}

/*NAV BAR*/ 

.space-between {
	justify-content: space-between;
}

.main-nav {
background-color:#a052ab;
}

.nav {
  width:30%;
}

.nav a{
	color:#000;
	text-decoration: none;
}
.nav a:hover {
	color: #000;
	background-color: #a052ab;
}

#nav {
	position:relative;
  width:100%;
}

#nav_wrapper {
    background-color:#a052ab;
    margin: 0 auto;
    text-align: left;
    min-width:406px;
    max-width:606px;
    height:48px;
    margin-top:332px;
}


#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

#nav ul li {
    display: inline-block;
}
#nav ul li:hover {
    background-color: #e6b2ed;
}
#nav ul li a, visited {
    color: #000;
    display: block;
    padding: 15px;
    text-decoration: none;
}
#nav ul li:hover ul {
    display: block;
}
#nav ul ul {
    display: none;
    position: absolute;
    background-color: #e6b2ed;
    border: 2.5px solid #d68fe0;
    border-top: 0;
    margin-left: -5px;
    z-index:999;
}
#nav ul ul li {
    display: block;
}
#nav ul ul li a:hover {
    color: #000;
}
#nav{
	display: flex;
}
.container{
	box-sizing: border-box;
	margin: 0 auto;
	width:70%;
}
.columns{ /**these are the boxes in the light pink box**/
	background-color: #eac4f0;
	padding:55px;
	min-height:300px;
	text-align: center;
	color: #fff;
	vertical-align: center;
	z-index: -2;
  h1: font-size: 50px;
}

.location-columns{ /**these are the boxes in the light pink box**/
	background-color: #eac4f0;
	padding:55px;
	min-height:540px;
	text-align: center;
	color: #fff;
	vertical-align: center;
}

/* modal test */

.succsess-modal {
  display: none;
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  height: 200px;
  width: 400px;
  background-color: #eac4f0;
}

.shown {
  display: block;
}

.columns-cal{
  background-color: #eac4f0;
  padding:55px;
  margin-bottom: 150px;
  height:850px;
  text-align: center;
  color: #fff;
  vertical-align: center;
}

.columns-gallery{
  background-color: #eac4f0;
  padding:55px;
  min-height:750px;
  min-width:500px;
  text-align: center;
  color: #000;
  vertical-align: center;
  z-index: -2;
  font-size: 14px;
  h2 font-size: 5px;
}

.columns-social{
  background-color: #eac4f0;
  padding:55px;
  min-height:300px;
  min-width:500px;
  text-align: center;
  color: #000;
  vertical-align: center;
  z-index: -2;
  font-size: 14px;
  h2 font-size: 5px;
  }

}
.columns-cake{
  width: 100%;
  background-color: #eac4f0;
  padding:55px;
  min-height:750px;
  text-align: left;
  color: #000;
  vertical-align: center;

}



.clear {
	clear:both;
}

.text{
	background-color:#a052ab;
	padding:20px;
  text-align: left;
	color: #fff;
	font-family: Helvetica;
}

#columns {
	-webkit-column-count: 2;
	-webkit-column-gap: 1px;
	-webkit-column-fill: auto;
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 2;
	column-gap: 20px;
	column-fill: auto;
	text-align: center;
}

#columns p {
	display: inline-block;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
}

.box{
	background-color:#a052ab;
	padding:50px;
	margin:28px;
	width:300px;
	min-height:150px;
	float:left;
	overflow: hidden;
	margin-bottom: 40px;
}

.box-ordering{
  background-color:#a052ab;
  padding:40px;
  margin:28px;
  width:90%;
  min-height:150px;
  overflow: hidden;
  margin-bottom: 40px;
}

    


 .box-contact{
 background-color:#eac4f0;
  padding:50px;
  margin:28px;
  margin-top: 100px;
  margin-left: 40px;
  width:300px;
  min-height:300px;
  float:left;
  overflow: hidden;
  margin-bottom: 40px;
}

.box-virtual{
  background-color:#a052ab;
  padding:10px;
  margin-top: 100px;
  margin-left: 70px;
  position: absolute;
  width:85%;
  height:100%;
  overflow: hidden;
  margin-bottom: 200px;

}

.virtual{
  position: absolute;
  text-align: center;
  padding-left: 320px;
}

.submit-virtual{
  position: relative;
  margin-top: 640px;
}

.wrap{
  width: 20%;
  position:fixed;
  top: 20px;
  right: 20px;
  transform: translate(-50%, -50%);
  z-index:999;
}
/*SEARCH BAR*/ 

.search {
  width: 300px;
  z-index: 3000;
  top:10px;
  right:10px;
}

.searchTerm {
  float: right;
  width: 100%;
  border: 3px solid #a052ab;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #purple;
  z-index: 3000;
}

.searchTerm:focus{
  color: #purple;
  z-index: 3000;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #fff;
  background: #a052ab;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  z-index: 3000;
}

.search{
         padding:8px 15px;
         background:rgba(50, 50, 50, 0.2);
         border:0px solid #dbdbdb;
         z-index: 3000;
}
.button{
         position:relative;
         padding:6px 15px;
         left:-8px;
         border:2px solid #207cca;
         background-color:#207cca;
         color:#fafafa;
         z-index: 3000;
        
}
.button:hover{
         background-color:#fafafa;
         color:purple;
         z-index: 3000;
}
.button{
	 	padding:5px;
  		background-color: #dcdcdc;
  		border: 1px solid #666;
  		color:#000;
  		text-decoration:none;
  		z-index: 3000;
  		
}

.town{
	position: static;
	background-color: #37383c;
	min-height:40px;
	max-width: 260px;
	text-align: center;
	color: #fff;
	vertical-align: center;
}




/*This efects the placement of the logo on the location pages?*/

body
{
	padding: 50px;
}
/*Ordering a cake from the locaiton pages*/

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position:relative;
	padding: 10px 20px;
  	margin: 30px 20px 20px 20px;
	border-radius: 15px;
	font-family: Helvetica, Arial;
	font-size: 16px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #a052ab;
	border-bottom: 5px solid #693670;
	text-shadow: 0px -2px #a052ab;
	margin-top: 15px !important;
}
.blue-contact
{
  background-color: #a052ab;
  border-bottom: 5px solid #693670;
  text-shadow: 0px -2px #a052ab;
  margin-top: 15px !important;
  margin-left: 95px;
}

.action-button:active
{
	transform: translate(0px,5px);
  	-webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.flavor-logo{
	text-align: center;
}

.flavor-button{
  padding-right: 950px;
  display: flex;
}

.calender{
  margin:20px auto;
  width:400px;
  height:350px;
  padding:20px;
  background:#f7f7f7;
  border:1px solid #ccc;
  color:#37373d;
  position:relative;
  z-index:999;
}

.calender:before,
.calender:after{
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: inherit;
  box-shadow: inherit;
  -webkit-transform: rotate(2deg);
  box-shadow:0 0 20px rgba(0,0,0,.4);
}

.calender::after{ -webkit-transform: rotate(-1deg) }

.calender h1{
  font-family:Helvetica;
  width:100%;
  text-align:center;
  font-size: 22px;
  text-shadow:1px 1px 0px rgba(0,0,0,.6);
}

.calender .day{
  display:block;
  width:13.5%;
  height:0;
  padding-top:6%;
  padding-bottom:8%;
  float:left;
  text-align:center;
  background:#ddd;
  border:1px solid #f7f7f7;
  font-family:Helvetica;
  font-size:18px;
  -webkit-transition: all .2s ease;
  cursor:pointer;
}

.calender .day:hover{
  background:#a052ab;
  color:#000;
  box-shadow:inset 0 0 20px rgba(0,0,0,.4);
  text-shadow:1px 1px 2px rgba(0,0,0,.4);
}
  
.calender .day.current{
  background:#e6b2ed;
  color:#000;
  box-shadow:inset 0 0 20px rgba( 0,0,0, .4);
  text-shadow:1px 1px 2px rgba(0,0,0,.4);
 }


#container{
  width:450px;
  position:relative;
  margin:0 auto;
  top:50px;
}

#overlay{
  cursor: pointer;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background:#000;
  opacity:.7;
  z-index:2000;
  display:none;
}

.photo {
  width:100px;
  float:left;
  background:#fff;
  border:1px solid #999;
  margin:20px;
}


.gallery img {
  width: 100%;
}




/*FORM CONTACT PAGE IMPORTANT TO FIX*/

#feedback-page{
  text-align:center;
}

#form-main{
  width:100%;
  float:left;
  padding-top:0px;
}


}

#form-contact{
  background-color:rgba(72,72,72,0.4);
  padding-left:35px;
  padding-right:35px;
  padding-top:10px;
  padding-bottom:100px;
  width: 100%;
  float: left;
  left: 50%;
  position: absolute;
  margin-top:10px;
  margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
  color:#3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
  background: #fff;
  box-shadow: 0;
  border: 3px solid #3498db;
  color: #000;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
  color:#30aed6;
  border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
  border-style: solid;
  border-color: #a052ab;
}

#name:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
   border-style: solid;
  border-color: #a052ab;
}

#email:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#comment{
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
    width: 50%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}

#button-blue{
  font-family: Helvetica, sans-serif;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  background-color: #a052ab;
  color:white;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
  color: #0493bd;
}
  
.submit:hover {
  color: #3498db;
}
  
.ease {
  width: 0px;
  height: 5px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}


@media only screen and (max-width: 580px) {
  #form-divcontact{
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }

 .clear {height:0px; clear:both;}
body {
  margin:30px;
}
.form-wrapper {
  float:left;
  width:100%;
  max-width:75.000em;
  background:#FFFFFF;
  overflow:hidden;
}
.form-wrapper label, .form-wrapper .radio-check-label {
  width:100%;
  float:left;
  margin-bottom:1em;
}
.form-wrapper label span, .form-wrapper .notes, .form-wrapper .radio-check-label span.label {
  float:left;
  width: 25%;
  text-align:right;
}
div.input-wrapper {
  width:70%;
  float:right;
  padding:0 0.625em;
}
.form-wrapper input, .form-wrapper select, .form-wrapper textarea, form-wrapper .radio {
  width:100%;
  padding:0.625em 0;
}
.form-wrapper .text input, .form-wrapper textarea {
  width:98%;
  padding-left: 1%; /* % will not work in FF*/
  padding-right: 1%; /* % will not work in FF*/
}

.form-wrapper .radio, .form-wrapper .checkbox {
  position:relative;
}
.form-wrapper .radio span, .form-wrapper .checkbox span {
  width :90%;
  text-align:left;
  padding-left:1.5em;
}
.form-wrapper .radio input, .form-wrapper .checkbox input {
  position:absolute;
  left:0;
  top:0;
  width:1em;
  height:1em;
}

input[type=reset], input[type=submit] {
  width:auto;
  max-width:34%;
  float:right;
}
input[type=submit] {
  margin-left:2%
}
.form-wrapper .notes {
  margin-top:1em;
  width:100%;
  text-align:left;
}


/* DOWN HERE: Only theming */ 

/* Light Theme -----------------    */ 


/*Monthly Specials Gallery*/

.specials{
  background-color: #eac4f0;
  min-height:500px;
  text-align: center;
  color: #fff;

}

@media (max-width: 720px) {
  form .field-group .label{
     text-align: left; 
     margin: 0;
  }
  input, select{
    width: 60%;
  }
}
@media (max-width: 480px) {
  input,
  select{width: 100%;}
  input[type="radio"],
  input[type="checkbox"],
  input[type="submit"]{
  width: auto;
  }
  form .field-group{
  display: flex;
  flex-direction: column;
  margin: 0 0 6px 0;
  }
  form .field-group .label{
  padding: 0 0 5px 0;
  margin: 10px 0 0 0;
  }
}




/*Button for Flavors on Specialty Page*/


 

/*RESPONSIVE*/

/*1080*/

@media (max-width:1080px) {


  #nav_wrapper {
    background-color:#a052ab;
    margin: 0 auto;
    text-align: left;
    height:48px;
    margin-top:332px;
    position:absolute;
    left:0;
    right:100px;
    min-width:100%;

}

  #nav ul li {
    display: inline-block;
    width: 100%;
}

  #nav ul ul {
    min-width:100%;
    background-color: #e6b2ed;
    border: 0px solid #d68fe0;
    border-top: 0;
    margin-left: 0px;
    width:100%;
}

}

@media (max-width: 850px){
  
  
#cones {
 display: block;
 background-color: #eac4f0;
 padding:55px;
 height:500px;
 text-align: center;
 color: #fff;
 vertical-align: center;
 z-index: -2;
 h1: font-size: 50px;
}

 .box-contact{
 background-color:#eac4f0;
  padding:50px;
  margin:28px;
  margin-top: 100px;
  margin-left: 177px;
  width:80%;
  min-height:300px;
  float:none;
  overflow: hidden;
  margin-bottom: 40px;
}



}


@media (max-width: 480px) {

.columns {
 display: none;
}

#cones {
 display: block;
 background-color: #eac4f0;
 padding:55px;
 height:1010px;
 text-align: center;
 color: #fff;
 vertical-align: center;
 z-index: -2;
 h1: font-size: 50px;
}


 .footer{
    display:none;
  }

  .logo img{
    margin-left: 40px;
    margin-top: 50px;
    width:80%;
    height:80%; 
       
}

 #nav_wrapper {
    background-color:#a052ab;
    margin: 0 auto;
    text-align: left;
    height:48px;
    margin-top:332px;
    position:absolute;
    left:0;
    right:100px;
    min-width:100%;

}

  #nav ul li {
    display: inline-block;
    width: 100%;
}

  #nav ul ul {
    min-width:100%;
    background-color: #e6b2ed;
    border: 0px solid #d68fe0;
    border-top: 0;
    margin-left: 0px;
    width:100%;
}
.header-home {
  background:url(../assets/images/homeicecream.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: absolute;
  border-bottom: 10px solid #fff;
  margin-top:70px;
  width:100%;
}

.box{ /*purple*/

  padding:0px;
  margin:0px;
  width:100%;
  max-height:150px;
 }

.columns{ /**pink back**/
  background-color: #eac4f0;
  padding:0px;
  padding-left: 20px;
  float:center;
  max-height:75px;
  text-align: center;
  color: #fff;
  vertical-align: center;
  z-index: -2;
  h1: font-size: 50px;
}

#columns {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

.text{
  background-color:#a052ab;
  padding:20px;
  text-align: left;
  color: #fff;
  font-family: Helvetica;
}
  .wrapper{
    height: 2000px;
    display: block;
     }

   .text{
    position: 
    height:;
   }  

    #nav ul li {
      display: inline-block;
      width:100%;
    }

    #form1{
    display: block;
    margin: 100px auto;
    margin-left: 176px;
    width: 390px;
    overflow: hidden;
    background: #FFF;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    font-size: 0;
  }



}

